@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lato;
  cursor: crosshair;
}

.first-image,
.second-image,
.third-image {
  position: relative;
  min-height: 400px;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.first-image {
  min-height: 100%;
  height: 100vh;
  background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
}

.title {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.first-title-text {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.section-one,
.section-two {
  text-align: center;
  font-size: 16px;
  padding: 50px 80px;
  line-height: 25px;
}

.section-one {
  min-height: 300px;
  background-color: #f4f4f4;
  color: #666;
}

.section-one h2,
.section-two h2 {
  letter-spacing: 1px;
  font-size: 24px;
  margin-bottom: 15px;
}

.second-image {
  min-height: 400px;
  background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg");
}

.second-title-text {
  color: #fff;
  background-color: transparent;
}

.section-two {
  background-color: #282e34;
  color: #f4f4f4;
}

.third-image {
	background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
}
